.buttons-wrapper {
  position: fixed;
  bottom: 5vh;
  right: 5vw;
  display: flex;
  justify-content: space-between;
  width: 8vw;
  min-width: 120px;
}

.modal-body {
  width: 40vw;
  min-width: 300px;
  margin-top: 40vh;
  margin-left: 50vw;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.file-input {
  height: 100%;
}
